sacremoses
pandas
mock
sacrebleu
tensorboardX
pyarrow
indic-nlp-library
mosestokenizer
subword-nmt
uvicorn
fasttext
"fastapi[all]"
requests
python-multipart
httpie
PIL
pillow
pdf2image
poppler-utils
PyMuPDF
easyocr
git+https://github.com/JaidedAI/EasyOCR.git
torch
torchvision